<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--        TODO поменять тайтл-->
</head>
<body>

<style>
    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        margin: 5px;
    }

    .row div {
        display: inline-block;
        border: 1px solid blue;
        padding: 10px 5px;
    }

    .panel {
        width: 600px
    }

    .point {
        width: 600px
    }

    .price {
        width: 50px;
    }


</style>

<!--<ul th:each="cat : ${allCategoriesAtr}">-->
<!--    <li th:text="${cat.name}">Пункт 1.</li>-->
<!--    <ul th:each="item : ${cat.items}">-->
<!--        <li th:text="${item.name}">Подпункт 2.1.</li>-->
<!--        <li th:text="${item.price}">Подпункт 2.2.</li>-->
<!--        </li>-->
<!--    </ul>-->
<!--</ul>-->

<fieldset>
    <div class="category" th:each="cat : ${allCategoriesAtr}">
        <h3 th:text="${cat.name}"></h3>
        <div class="row" th:each="item : ${cat.items}">
            <div><input type="checkbox" class="item-checkbox" th:value="${item.price}" onclick="calculate()"></div>
            <div class="point" th:text="${item.name}"></div>
            <div class="price" th:text="${item.price}">3000</div>
            <div>

                <form th:method="get" th:action="@{/items/delete/{Id}(Id=${item.id})}">
                    <input type="hidden" th:value="${item.id}">
                    <button type="submit" value="Удалить"/>Удалить</button>
                </form>
            </div>
            <p class="panel" th:text="${item.description}"></p>
        </div>
    </div>
</fieldset>


<br>
<p id="result">Сумма</p>
<br>






<script>
    function calculate() {
        let checkboxes = document.getElementsByTagName('input');
        let sum = 0;
        for (let index = 0; index < checkboxes.length; index++) {
            if (checkboxes[index].checked) {
                sum += parseInt(checkboxes[index].value);
                document.getElementById("result").innerHTML = 'Сумма: ' + sum + ' Рублей.';
            }
        }
    }
</script>

<script>
    var acc = document.getElementsByClassName("point");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
</body>
</html>