<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyRide calculator</title>
    <link rel="stylesheet" th:href ="@{/css/main.css}">
    <script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.panel').hide();
            $('.hiding-block').hide();
            });
    </script>

</head>
<body>

<div sec:authorize="!isAuthenticated()">
    <li><a th:href="@{/login}">Sign in</a></li>
</div>
<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<br>

    <container>
        <div class="category" th:each="cat : ${allCategoriesAtr}">
            <h3 class="hide-button" th:text="${cat.name}"
                onclick="$(this).siblings('.hiding-block').slideToggle('fast')"></h3>

            <div class="hiding-block">
                <div class="row" th:each="item : ${cat.items}">
                    <div><input type="checkbox" class="item-checkbox" th:value="${item.price}"
                               onclick="$(this).next().slideToggle('fast');calculate()">
                        <input type="checkbox" class="item-checkbox toggle" id="hidingCheckbox" th:value="${item.price}" onclick="calculate()"
                        style="display: none"></div>
<!--                               onclick="calculate()"-->



<!--                    <div class="item-name" th:text="${item.name}" onclick="$(this).siblings('.panel').slideToggle('fast')">-->
                    <div class="item-name" th:text="${item.name}" onclick="$(this).toggleClass('active')
                    .siblings('.panel').slideToggle('fast')">

                    </div>
                    <div class="price" th:text="${item.price}">3000</div>

<!--                    //TODO прикрутить security-->
<!--                    <div sec:authorize="hasAuthority('ROLE_ADMIN')">-->
<!--                        <form th:method="get" th:action="@{/delete}">-->
<!--                            <input type="hidden" th:value="${item.id}" th:name="itemId">-->
<!--                            <button type="submit" value="Удалить"/>-->
<!--                            Удалить</button>-->
<!--                        </form>-->
<!--                    </div>-->
                    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                        <form th:method="get" th:action="@{/update}">
                            <input type="hidden" th:value="${item.id}" th:name="itemId">
                            <input type="hidden" th:value="${item.category}">
                            <button type="submit" value="Изменить"/>
                            Изменить</button>
                        </form>
                    </div>

                    <p class="panel" th:text="${item.description}"></p>

                </div>
            </div>
        </div>
    </container>



<div id="result" class="result">Сумма 0 рублей</div>


<br>
<script>
    function calculate() {
        let checkboxes = document.getElementsByTagName('input');
        let sum = 0;
        for (let index = 0; index < checkboxes.length; index++) {
            if (checkboxes[index].checked) {
                sum += parseInt(checkboxes[index].value);
                document.getElementById("result").innerHTML = 'Сумма: ' + sum + ' Рублей.';
            } else
                document.getElementById("result").innerHTML = 'Сумма: ' + sum + ' Рублей.';
        }
    }
</script>

</body>
</html>