<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">


<style>
    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        margin: 5px;
    }

    .row div {
        display: inline-block;
        border: 1px solid blue;
        padding: 10px 5px;
    }

    .panel {
        width: 600px
    }

    .point {
        width: 600px
    }

    .price {
        width: 50px;
    }
</style>


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<fieldset>
<div class="row" th:each="item : ${allItemsAtr}">
    <div class="point">
        <input type="checkbox" class="checkBox" th:text="${item.name}" th:value="${item.price}">
    </div>
    <!--            <div class="panel">-->
    <!--            </div>-->
    <div class="price" th:text="${item.price}"></div>
    <p class="panel" th:text="${item.description}"></p>


</div>
</fieldset>
<button onclick="alerted();"> Кто выбран? </button>
<p id="result">Тест</p>
<script>
function alerted(){
    var checkboxes = document.getElementsByClassName('checkBox');
    var checkboxesChecked = []; // можно в массиве их хранить, если нужно использовать
    for (var index = 0; index < checkboxes.length; index++) {
        if (checkboxes[index].checked) {
            checkboxesChecked.push(checkboxes[index].value); // положим в массив выбранный
            //alert(checkboxes[index].value); // делайте что нужно - это для наглядности
        }
    }
    let sum = 0;
    for (let i = 0; i < checkboxesChecked.length; i++) {
        sum+=parseInt(checkboxesChecked[i]);
    }
    document.getElementById("result").innerHTML = '' + sum;
    //alert(sum); // для использования в нужном месте
}
</script>

<script>
    var acc = document.getElementsByClassName("point");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
                this.children[0].removeAttribute('checked');
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
                this.children[0].setAttribute('checked', 'checked');
            }
        });
    }
</script>
</body>
</html>