<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Редактировать услугу</title>
<!--        TODO Прикрутить дизайн приятней-->
    </head>
<body>
<fieldset>
    <form th:action="@{/new}" th:object="${itemAtr}" method="post">
        <input type="hidden" th:field="*{id}">
        Название <input th:type="text" th:field="*{name}">
        <br><br>
        Описание <input th:type="text" th:field="*{description}"><br><br>
        Цена <input th:type="text" th:field="*{price}"><br><br>
        Категория <select th:field="*{category}"/><br><br>

            <option th:each="cat : ${allCategoriesAtr}" th:text="${cat.name}" th:value="${cat.id}"></option>
        <input type="submit" value="Сохранить"/>
    </form>
</fieldset>
</body>
</html>